extends layout/template

block vars
	- var pageTemplate = "index"; // page-specific var

block head

block content
	.container
		.left-col
			.btns__row
				a(href="#").btn.btn-clear Очистить

			.btns__row
				a(href="#").btn.btn-color.btn-color-1#colorPurple
				a(href="#").btn.btn-color.btn-color-2#colorGreen
				a(href="#").btn.btn-color.btn-color-3#colorYellow
				a(href="#").btn.btn-color.btn-color-4#colorBrown

			.btns__row
				a(href="#").btn.btn-size.btn-size-1
				a(href="#").btn.btn-size.btn-size-2
				a(href="#").btn.btn-size.btn-size-3
				a(href="#").btn.btn-size.btn-size-4

			.btns__row
				a(href="#" data-name="marker").btn.btn-tool Маркер
				a(href="#" data-name="rectangle").btn.btn-tool Прямоугольник
				a(href="#" data-name="line").btn.btn-tool Линии
				a(href="#" data-name="eraser").btn.btn-tool.btn-tool--eraser Маркер

			.btns__row
				a(href="#").btn.btn-save#saveCanvas Сохранить

		.right-col
			.canvasDiv
				canvas#canvasTemp.canvas-temp(width="400" height="300")